@font-face {
    font-family: 'Simpler Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Simpler-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Simpler Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Simpler-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Simpler Light';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Simpler-Light.woff') format('woff');
}

@font-face {
    font-family: 'Simpler Black';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Simpler-Black.woff') format('woff');
}
