:root {
    --primary-50: 255, 223, 218;
    --primary-100: 246, 227, 224;
    --primary-200: 225, 160, 150;
    --primary-300: 255, 155, 139;
    --primary-400: 218, 102, 84;
    --primary-500: 194, 65, 45;
    --primary-600: 178, 57, 35;
    --primary-700: 145, 32, 11;

    --secondary-50: 227, 243, 228;
    --secondary-100: 217, 253, 221;
    --secondary-200: 161, 225, 164;
    --secondary-300: 120, 214, 126;
    --secondary-400: 85, 204, 96;
    --secondary-500: 45, 194, 65;
    --secondary-600: 10, 160, 43;
    --secondary-700: 0, 142, 30;

    --tertiary-50: 227, 242, 254;
    --tertiary-100: 217, 237, 253;
    --tertiary-200: 141, 202, 254;
    --tertiary-300: 93, 181, 254;
    --tertiary-400: 53, 165, 254;
    --tertiary-500: 0, 135, 239;
    --tertiary-600: 2, 117, 220;
    --tertiary-700: 3, 100, 202;

    --warning-100: 251, 232, 215;
    --warning-200: 247, 198, 156;
    --warning-300: 255, 191, 137;
    --warning-400: 255, 169, 95;
    --warning-500: 237, 140, 56;
    --warning-600: 214, 121, 22;
    --warning-700: 207, 107, 19;

    --black-50: 255, 255, 255;
    --black-100: 245, 245, 245;
    --black-200: 245, 245, 245;
    --black-300: 224, 224, 224;
    --black-400: 189, 189, 189;
    --black-500: 158, 158, 158;
    --black-600: 97, 97, 97;
    --black-700: 33, 33, 33;

    --complementary-300: 221, 224, 234;
    --complementary-400: 52, 78, 162;
    --complementary-500: 102, 80, 255;

    --success-50: 227, 243, 228;
    --success-100: 192, 229, 204;
    --success-200: 152, 211, 172;
    --success-300: 108, 195, 140;
    --success-400: 73, 183, 116;
    --success-500: 28, 170, 92;
    --success-600: 19, 155, 82;
    --success-700: 4, 137, 70;

    --error-50: 255, 233, 236;
    --error-100: 246, 227, 224;
    --error-200: 225, 160, 150;
    --error-300: 255, 155, 139;
    --error-400: 218, 102, 84;
    --error-500: 194, 65, 45;
    --error-600: 178, 57, 35;
    --error-700: 145, 32, 11;

    --info-100: 194, 234, 255;
    --info-200: 141, 208, 255;
    --info-500: 29, 173, 255;
}

:root .dark {
    --primary-50: 85, 12, 0;
    --primary-100: 75, 54, 52;
    --primary-200: 142, 89, 81;
    --primary-300: 188, 113, 101;
    --primary-400: 222, 131, 116;
    --primary-500: 255, 148, 131;
    --primary-600: 254, 178, 166;
    --primary-700: 253, 208, 200;

    --secondary-50:  0, 125, 17;
    --secondary-100: 47, 66, 55;
    --secondary-200: 72, 121, 89;
    --secondary-300: 86, 150, 108;
    --secondary-400: 102, 185, 130;
    --secondary-500: 114, 212, 147;
    --secondary-600: 157, 224, 178;
    --secondary-700: 196, 236, 208;

    --tertiary-50:  3, 69, 171;
    --tertiary-100: 44, 62, 76;
    --tertiary-200: 60, 104, 138;
    --tertiary-300: 70, 130, 176;
    --tertiary-400: 81, 159, 219;
    --tertiary-500: 89, 181, 252;
    --tertiary-600: 141, 202, 254;
    --tertiary-700: 217, 237, 253;

    --warning-100: 69, 64, 59;
    --warning-200: 146, 116, 91;
    --warning-300: 178, 136, 101;
    --warning-400: 222, 167, 121;
    --warning-500: 255, 191, 137;
    --warning-600: 247, 198, 156;
    --warning-700: 251, 232, 215;

    --black-50: 33, 33, 33;
    --black-100: 42, 43, 45;
    --black-200: 42, 42, 42;
    --black-300: 66, 66, 66;
    --black-400: 97, 97, 97;
    --black-500: 117, 117, 117;
    --black-600: 158, 158, 158;
    --black-700: 255, 255, 255;

    --complementary-300: 49, 56, 69;
    --complementary-400: 119, 139, 204;
    --complementary-500: 163, 150, 255;

    --success-50: 45, 134, 50;
    --success-100: 52, 75, 64;
    --success-200: 54, 89, 71;
    --success-300: 59, 115, 84;
    --success-400: 65, 142, 96;
    --success-500: 73, 183, 116;
    --success-600: 116, 200, 149;
    --success-700: 153, 215, 177;
    
    --error-50:  210, 0, 4;
    --error-100: 75, 54, 52;
    --error-200: 142, 89, 81;
    --error-300: 188, 113, 101;
    --error-400: 222, 131, 116;
    --error-500: 255, 148, 131;
    --error-600: 254, 178, 166;
    --error-700: 253, 208, 200;

    --info-100: 36, 60, 77;
    --info-200: 42, 91, 127;
    --info-500: 106, 194, 255;
}