@font-face {
  font-family: 'mfw_protocolharel';
  src: url("/SiteAssets/assets/harel-customers/assets/fonts/MFW_ProtocolHarel-Medium.woff2") format("woff2"), url("/SiteAssets/assets/harel-customers/assets/fonts/MFW_ProtocolHarel-Medium.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mfw_protocolharel';
  src: url("/SiteAssets/assets/harel-customers/assets/fonts/MFW_ProtocolHarel-Bold.woff2") format("woff2"), url("/SiteAssets/assets/harel-customers/assets/fonts/MFW_ProtocolHarel-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'mfw_protocolharel';
  src: url("/SiteAssets/assets/harel-customers/assets/fonts/MFW_ProtocolHarel-Light.woff2") format("woff2"), url("/SiteAssets/assets/harel-customers/assets/fonts/MFW_ProtocolHarel-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}